* {
	margin: 0;
	padding: 0;
}

#center {
	width: 525px;
	margin: auto;
}

#buttons {
	float: right;
	width: 170px;
	margin-right: 10px;
}

#buttonCreate {
	width: 80px;
	background-color: rgb(123, 212, 54);
	border: 0px;
	border-radius: 7px;
}

#buttonCheck {
	width: 80px;
	background-color: rgb(123, 212, 54);
	border: 0px;
	border-radius: 7px;
}

[name=inputRij] {
	border: 3px solid black;
	padding: 10px;
	width: 300px;
	margin-top: 5px;
}

[name=ball1] {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
}

[name=ball2] {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
}

[name=ball3] {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
}

[name=ball4] {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
}

[name=hintsDisplay1] {
	border: 3px solid black;
	border-radius: 15px;
	padding: 4px;
	width: 0px;
	display: inline-block;
	float: right;
}

[name=hintsDisplay2] {
	border: 3px solid black;
	border-radius: 15px;
	padding: 4px;
	width: 0px;
	display: inline-block;
	float: right;
}

[name=hintsDisplay3] {
	border: 3px solid black;
	border-radius: 15px;
	padding: 4px;
	width: 0px;
	display: inline-block;
	float: right;
}

[name=hintsDisplay4] {
	border: 3px solid black;
	border-radius: 15px;
	padding: 4px;
	width: 0px;
	display: inline-block;
	float: right;
}

[name=hintsDisplayAll] {
	width: 31px;
	float: right;
	margin-top: 2px;
}

#colors {
	border: 3px solid black;
	padding: 10px;
	width: 170px;
	float: right;
}

#colorRed {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
	background-color: red;
}

#colorBlue {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
	background-color: blue;
}

#colorYellow {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
	background-color: yellow;
}

#colorGreen {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
	background-color: green;
}

#colorBlack {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
	background-color: black;
}

#colorOrange {
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 0px;
	display: inline-block;
	background-color: orange;
}